@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}

:root {
  --color-brend: #2b7fff;
  --color-brend-dark: #011c44;
  --color-brend-light: #ffffff;
}
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
.address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clinic {
  color: var(--color-brend-dark);
  font-family: Roboto, sans-serif;
  line-height: 1;
  padding-top: 42.52px;
}
.appointment-for-a-consultation {
  color: #4a4a4a;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 126.48px;
}
.transform {
  padding: 20px 0px;
}
.choose {
  padding: 88px 0px;
}
.procedures {
  padding: 48px 0px;
}
.find-us {
  padding: 48px 0px;
}

/* hidden */
.visually-hidden-educ {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.visually-hidden-device {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.visually-hidden-goal {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Sign-up */
.sign-up {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
}
.sign-up .accent {
  color: var(--color-brend);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Button */
.button-primary {
  padding: 16px 32px;
  color: #ffffff;
  background-color: var(--color-brend);
  border-radius: 32px;
  border: 1px solid var(--color-brend);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 14px;
}
/* disabled */
.button-primary :disabled {
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
  border-color: currentColor;
}
.why-list {
  margin-bottom: 24px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 56px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  height: 377px;
}
/* why */

.why-info {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  top: 24px;
  left: 32px;
}
.why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 316px;
  height: 181px;
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
  padding: 12px;
  gap: 16px;
  text-align: center;
  background-color: var(--color-brend-light);
  position: relative; /* важно для z-index */
  z-index: 1;
}
.why-card:hover {
  transform: scale(1.05);
}
.why-icon {
  fill: var(--color-brend);
  background-color: var(--color-brend-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.why-item {
  flex-basis: calc((100%- 56px) / 3);
}

/* фон волна */
.choose {
  position: relative;
  overflow: hidden;
  padding-top: 200px; /* отступ под волну */
  padding-bottom: 120px;
}
.choose-bg {
  position: absolute;
  top: -190px; /* поднимаем волну */
  left: 50%;
  transform: translateX(-50%);
  width: 1440px; /* под max width сайта */
  height: 1785px; /* под высоту волны */
  background-image: url('../images/wave.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 200px;
}

/* procedures */
.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.procedures-item {
  flex-basis: calc((100%-32px) / 3);
}

.procedures-card {
  border: 1px solid #dfe7f3; /* remove */
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    var(--color-brend-dark) 99.06%
  );
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  padding-top: 372px; /* сверху */
  padding-right: 77px; /* справа */
  padding-bottom: 32px; /* снизу */
  padding-left: 115px; /* слева */
  transition: transform 0.2s;
}
.procedures-card:hover {
  transform: scale(1.05);
}
.our-procedures-list {
  display: flex;
  gap: 16px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.18;
  justify-content: center;
  flex-wrap: wrap;
}

.button-primary:hover {
  color: var(--color-brend-dark);
  background-color: transparent;
}
/* Link */
.header-link {
  color: var(--color-brend-dark);
  font-family: Roboto, sans-serif;
  line-height: 1;
  text-decoration: none;
  transition: color 0.2s;
}
.header-link:hover {
  color: var(--color-brend);
}
/* footer */

.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo {
  flex-grow: 1;
}
.footer-nav-list {
  flex-grow: 1;
  gap: 16px;
  font-style: normal;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.adress-list {
  flex-grow: 1;
  font-style: normal;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* контакты в колонку */
  gap: 16px;
}
.adress-info {
  flex-grow: 1;
  font-style: normal;
  gap: 16px;
  font-style: normal;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 186px;
}
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-link {
  display: inline-block;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  transition: color 0.2s;
  min-width: max-content;
}

.footer-link:hover {
  color: var(--color-brend);
  font-weight: 400;
}

.footer {
  background-image: url('../images/background.png');
  background-color: #011f4a;
  padding: 56px 0px;
  position: relative;
  width: 1440px;
  height: 278px;
  top: 50%; /* новое */
  left: 50%; /* новое */
  transform: translate(-50%, -50%); /* новое */
  margin-top: 96px; /* новое */
}
.footer::after {
  background-image: url('../images/pexels.png');
  position: absolute;
  width: 278px;
  height: 213px;
  bottom: -21%;
  right: -2%;
  background-repeat: no-repeat;
  content: '';
}
.adress-icon {
  fill: var(--color-brend-light);
}
.icon-row {
  flex-direction: row; /* иконки в линию */
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer-icons {
  position: absolute;
  top: 180px;
}
/* Header */
.header-adress-icon {
  fill: var(--color-brend-dark);
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 32px; /* расстояние между иконками */
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 240px;
}

.header-container {
  width: 1440px;
  height: 106px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.25); /* белый с прозрачностью */
  -webkit-backdrop-filter: blur(5px); /* для Safari */
  backdrop-filter: blur(5px); /* размытие фона */
}

.header-nav {
  flex-grow: 1;
  align-items: center;
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 11px 0px;
  gap: 56px;
}
.header-item {
  margin-right: 56px;
}
.header-item:last-child {
  margin-right: 0;
}

/* фон фото*/
.hero-background {
  background-image: url('../images/fonsecond.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%; /* блок занимает всю ширину экрана */
  max-width: 1440px; /* не больше макета */
  height: 658px; /* высота блока */
  margin: 0 auto;
}

/* Header продолжение */
.hero-title {
  margin-bottom: 0;
  color: var(--color-brend);
  font-family: Play, sans-serif;
  font-weight: 700;
  line-height: 0.81;
  font-size: 140px;
}

/* main-container */

.choose-title {
  margin-bottom: 48px;
}
.procedures-title {
  margin-bottom: 48px;
}
/* carousel-button */
.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0%;
  background-color: var(--color-brend-light);
  border-radius: 50%;
  border: 1px solid var(--color-brend-dark);
  cursor: pointer;
}
.carousel-button.next {
  transform: rotate(180deg);
}
.carousel-arrow {
  fill: var(--color-brend-dark);
}
.carousel-button:hover {
  background-color: var(--color-brend);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--color-brend-light);
}

/* transform */
.transform {
  padding: 126px 0px;
}
.transform-title {
  margin-bottom: 40px;
}
.transform-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

/* звезды */
.star-one {
  width: 64px;
  height: 64px;
  fill: #011f4a;
  right: 200px;
  bottom: 270px;
  position: absolute;
  transform-origin: center; /* центр обертання */
  animation: star-animation 2s linear infinite;
}
.star-two {
  width: 40px;
  height: 40px;
  fill: #2b7fff;
  right: -200px;
  top: 50px;
  position: absolute;
  transform-origin: center;
  animation: star-animation 2.5s linear infinite;
}
.star-three {
  width: 16px;
  height: 16px;
  fill: #747272;
  right: -180px;
  top: 270px;
  position: absolute;
  transform-origin: center;
  animation: star-animation 1.8s linear infinite;
}
/* анимация к звездам */
@keyframes star-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.transform-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  max-width: 709px;
  width: 100%;
  margin-left: 100px;
}
.transform-images {
  position: relative;
  width: 500px;
  height: 695px;
  gap: 40px;
}
.section-title {
  color: var(--color-brend-dark);
  font-family: Play, sans-serif;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brend);
  font-family: Play, sans-serif;
}
.section-title-one {
  padding-top: 40px;
  color: var(--color-brend-dark);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
.section-title-one .accent {
  color: var(--color-brend);
  font-family: Play, sans-serif;
}
.photo-before {
  width: 327px; /* розмір фото */
  height: 327px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.photo-after {
  position: absolute;
  bottom: -15px;
  right: -125px;
  width: 327px; /* розмір фото */
  height: 328px; /* робимо висоту = ширині для круга */
  border-radius: 50%; /* робимо круглим */
  object-fit: cover;
}
/* text */
.text {
  margin-bottom: 40px;
  color: var(--color-brend-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.7;
}
.text .brend {
  color: var(--color-brend-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.copyright {
  color: #747272;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 1.2;
}
/* find-us */
.find-us {
  padding: 48px 0px;
}
.section-find-us-title {
  padding-bottom: 95px;
}
.find-us-container {
  display: flex;
  gap: 32px;
  margin-bottom: 48px; /* новое */
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}
.sign-up {
  color: var(--color-brend-light);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.find-us-forma {
  padding: 48px 57px;
  position: relative;
  width: 100%;
  max-width: 422px;
  height: 100%;
  max-height: 482px;
  background-color: var(--color-brend-dark);
  border-radius: 32px;
}

/* модальное окно  */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  z-index: 1000;
  transition: opacity 0.2s, visibility 0.2s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 42px 144px;
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-brend-dark);
  border-radius: 48px;
  color: var(--color-brend-light);
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  border: none;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  line-height: 1;
  background: transparent;
}

.modal.is-hidden {
  display: none;
}
/* form */
.form-field {
  position: relative;
  margin-bottom: 24px;
}
.form-label {
  position: absolute;
  top: 18px;
  left: 32.85px;
  line-height: 1;
  font-size: 13px;
  font-family: Roboto, sans-serif;
}
.form-input {
  padding: 18px 32.85px;
  width: 100%;
  line-height: 1;
  font-size: 13px;
  border: 2px solid #747272;
  border-radius: 32px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  width: 310px;
  height: 52px;
  display: block;
  margin: 0 auto 8px;
}
.form-input:focus {
  background-color: #747272;
  outline: none;
  color: var(--color-brend-light);
}
.form-input::placeholder {
  color: var(--color-brend-light);
  line-height: 1;
  font-size: 13px;
}
.form-input:focus::placeholder {
  color: var(--color-brend-light);
}
.form-button {
  display: block;
  margin: 0 auto 8px;
}
.form-button:hover {
  background-color: var(--color-brend-light);
  color: var(--color-brend-dark);
}
.form-terms {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  width: 213px;
  height: 36px;
  margin: 0 auto;
  color: #747272;
}
.form-terms-link {
  color: #747272;
  text-underline-offset: 3px;
}
.order-call {
  color: var(--color-brend-light);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
}

.form-field-button {
  position: relative;
  margin-bottom: 16px;
}
.sign-up-modal {
  margin-top: 40px;
  margin-bottom: 32px;
  color: var(--color-brend-light);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.sign-up-modal .accent {
  color: var(--color-brend);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
