@import "./utils/fonts";

@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/buttons";

@import "./components/whychoose";

@import "./components/ourprocedures";

@import "./components/links";

@import "./components/footer";

@import "./components/header";

@import "./components/hero";

@import "./components/carousel";

@import "./components/transform";

@import "./components/findus";

@import "./components/modalwindow";

@import "./components/form";
