@import "./utils/fonts";

@import "./utils/variables";

@import "./base";
@import "./utils/texts";

@import "./layouts/headeritems";

@import "./components/transformimages";

@import "./utils/utils";

@import "./components/input";

@import "./components/buttons";

@import "./layouts/whychoose";
@import "./components/carousel";

@import "./layouts/ourprocedures";

@import "./components/links";

@import "./layouts/footer";

@import "./layouts/header";

@import "./layouts/hero";

@import "./layouts/transform";

@import "./layouts/findus";

@import "./layouts/modalwindow";

@import "./components/form-terms";

@import "./layouts/mobile-menu";
@import "./components/pagination";
