.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0%;
  background-color: var(--color-brend-light);
  border-radius: 50%;
  border: 1px solid var(--color-brend-dark);
  cursor: pointer;
}
.carousel-button.next {
  transform: rotate(180deg);
}
.carousel-arrow {
  fill: var(--color-brend-dark);
}
.carousel-button:hover {
  background-color: var(--color-brend);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--color-brend-light);
}