.form-field {
  position: relative;
  margin-bottom: 24px;
}
.form-label {
  position: absolute;
  top: 18px;
  left: 32.85px;
  line-height: 1;
  font-size: 13px;
  font-family: Roboto, sans-serif;
}
.form-input {
  padding: 18px 32.85px;
  width: 100%;
  line-height: 1;
  font-size: 13px;
  border: 2px solid #747272;
  border-radius: 32px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  width: 310px;
  height: 52px;
  display: block;
  margin: 0 auto 8px;
}
.form-input:focus {
  background-color: #747272;
  outline: none;
  color: var(--color-brend-light);
}
.form-input::placeholder {
  color: var(--color-brend-light);
  line-height: 1;
  font-size: 13px;
}
.form-input:focus::placeholder {
  color: var(--color-brend-light);
}
.form-button {
  display: block;
  margin: 0 auto 8px;
}
.form-button:hover {
  background-color: var(--color-brend-light);
  color: var(--color-brend-dark);
}
.form-terms {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  width: 213px;
  height: 36px;
  margin: 0 auto;
  color: #747272;
}
.form-terms-link {
  color: #747272;
  text-underline-offset: 3px;
}
.order-call {
  color: var(--color-brend-light);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
}

.form-field-button {
  position: relative;
  margin-bottom: 16px;
}
.sign-up-modal {
  margin-top: 40px;
  margin-bottom: 32px;
  color: var(--color-brend-light);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.sign-up-modal .accent {
  color: var(--color-brend);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
