.header-adress-icon {
  fill: var(--color-brend-dark);
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 32px; /* расстояние между иконками */
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 0;
}
.header {
  background: rgba(255, 255, 255, 0.25); /* белый с прозрачностью */
  backdrop-filter: blur(5px); /* размытие фона */
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
.header-nav {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 56px;
}
.header-item {
  margin-right: 56px;
}
.header-item:last-child {
  margin-right: 0;
}

/* фон фото*/
.hero-background {
  background-image: url("../images/fonsecond.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 0.4px;
  padding-bottom: 12.67px;
}