.hero-title {
  margin-bottom: 0;
  color: var(--color-brend);
  font-family: Play, sans-serif;
  font-weight: 700;
  line-height: 0.81;
  font-size: 140px;
  margin-bottom: 40px;
}

.main-wrapper {
  display: inline-block;
  margin-left: 106px;
}
.main-container {
  margin-left: 0;
}
.clinic {
  color: var(--color-brend-dark);
  font-family: Roboto, sans-serif;
  line-height: 1;
  padding-top: 42.52px;
}
.appointment-for-a-consultation {
  color: #4a4a4a;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 15px;
}