.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  z-index: 1000;
  transition: opacity 0.2s, visibility 0.2s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 42px 144px;
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-brend-dark);
  border-radius: 48px;
  color: var(--color-brend-light);
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  border: none;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  line-height: 1;
  background: transparent;
}

.modal.is-hidden {
  display: none;
}