.procedures {
  padding: 48px 0px;
}
.procedures-title {
  margin-bottom: 48px;
}
.procedures-img {
  position: absolute; /* картинка під текстом */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* щоб картинка не спотворювалась */
  z-index: 1;
}
.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  position: relative; /* для абсолютного накладення */
  width: 344px;
  height: 456px;
  border-radius: 4px 120px 4px 120px;
  overflow: hidden; /* щоб картинка не виходила за межі */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* текст внизу */
  gap: 16px;
  padding: 16px;
  transition: transform 0.2s;
}
.procedures-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    var(--color-brend-dark) 99.06%
  );
  pointer-events: none;
  z-index: 2; /* поверх картинки, під текстом */
}
.procedures-card h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;

  margin: 0;
  text-align: center;
  z-index: 3;
  width: 100%; /* текст займає всю ширину картки */
  white-space: normal; /* дозволяє перенос рядків */
}

.procedures-card:hover {
  transform: scale(1.05);
}
.our-procedures-list {
  display: flex;
  gap: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  justify-content: center;
  flex-wrap: nowrap;
}

.button-primary:hover {
  color: var(--color-brend-dark);
  background-color: transparent;
}