.transform-images {
  position: relative;

  &__photo-before,
  &__photo-after {
    display: none;
  }

  @media screen and (min-width: $bp-desktop) {
    width: 500px;
    height: 695px;

    &__photo-before {
      display: block;
      width: 327px;
      height: 327px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__photo-after {
      display: block;
      position: absolute;
      bottom: -15px;
      right: -45px;
      width: 327px;
      height: 327px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
