.text {
  margin-bottom: 40px;
  color: var(--color-brend-dark);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.7;
}
.text .brend {
  color: var(--color-brend-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.transform {
  padding: 20px 0px;
}
.transform {
  padding: 126px 0px;
}
.transform-title {
  margin-bottom: 40px;
}
.transform-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

/* звезды */
.star-one {
  width: 64px;
  height: 64px;
  fill: #011f4a;
  right: 200px;
  bottom: 270px;
  position: absolute;
  transform-origin: center; /* центр обертання */
  animation: star-animation 2s linear infinite;
}
.star-two {
  width: 40px;
  height: 40px;
  fill: #2b7fff;
  right: -200px;
  top: 50px;
  position: absolute;
  transform-origin: center;
  animation: star-animation 2.5s linear infinite;
}
.star-three {
  width: 16px;
  height: 16px;
  fill: #747272;
  right: -180px;
  top: 270px;
  position: absolute;
  transform-origin: center;
  animation: star-animation 1.8s linear infinite;
}
/* анимация к звездам */
@keyframes star-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.transform-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  max-width: 709px;
  width: 100%;
}
.transform-images {
  position: relative;
  width: 500px;
  height: 695px;
}
.section-title {
  color: var(--color-brend-dark);
  font-family: Play, sans-serif;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brend);
  font-family: Play, sans-serif;
}
.section-title-one {
  padding-top: 40px;
  color: var(--color-brend-dark);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
.section-title-one .accent {
  color: var(--color-brend);
  font-family: Play, sans-serif;
}
.photo-before {
  width: 327px; /* розмір фото */
  height: 327px;
  border-radius: 50%;
}

.photo-after {
  position: absolute;
  bottom: -15px;
  right: -125px;
  width: 327px; /* розмір фото */
  height: 328px; /* робимо висоту = ширині для круга */
  border-radius: 50%; /* робимо круглим */
  object-fit: cover;
}