.why-list {
  margin-bottom: 24px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  gap: 56px;
  justify-content: center;
}
.choose {
  padding: 88px 0px;
}
.choose-title {
  margin-bottom: 48px;
}
.why-info {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  top: 24px;
  left: 32px;
}
.why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 181px;
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
  padding: 12px;
  gap: 16px;
  text-align: center;
  background-color: var(--color-brend-light);
  position: relative; /* важно для z-index */
  z-index: 1;
}
.why-card:hover {
  transform: scale(1.05);
}
.why-icon {
  fill: var(--color-brend);
  background-color: var(--color-brend-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.why-item {
  flex-basis: calc((100% - 56px) / 3);
}

/* фон волна */
.choose {
  position: relative;
  padding-top: 200px; /* отступ под волну */
  padding-bottom: 48px;
}
.background-wave {
  background-image: url("../images/background-choose.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding-top: 60px;
}
