.find-us {
  padding: 0;
  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0;
    padding-bottom: 96px;
  }

  &__title {
    padding-bottom: 0;
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-bottom: 0;
    overflow: visible;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
      margin: 0;
    }
  }

  &__sign-up {
    color: var(--color-brend-light);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  &__forma {
    order: 1;
    width: 100%;
    max-width: 422px;
    height: 100%;
    max-height: 482px;
    padding: 48px 24px;
    background-color: var(--color-brend-dark);
    border-radius: 32px;
    @media screen and (min-width: $bp-desktop) {
      height: 481px;
    }
  }

  &__form-button {
    display: block;
    margin: 0 auto 8px;

    &:hover {
      background-color: var(--color-brend-light);
      color: var(--color-brend-dark);
    }
  }

  &__map {
    order: 2;
    flex-shrink: 0;
    margin: 0 -24px;
    height: 232px;
    border: none;
    width: 100vw;
  }

  @media screen and (min-width: $bp-desktop) {
    &__container {
      flex-direction: row;
      gap: 32px;
      align-items: center;
    }

    &__forma,
    &__map {
      order: 0;
    }

    &__map {
      width: 605px;
      height: 481px;
      border-radius: 32px;
      margin: 0;
    }
    &__sign-up {
      color: var(--color-brend-light);
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      line-height: 1;
      font-weight: 600;
      text-align: center;
      width: 100%;
      padding: 0;
    }
  }
}

.find-us {
  .button-primary {
    padding: 16px 32px;
    color: #ffffff;
    background-color: var(--color-brend);
    border-radius: 32px;
    border: 1px solid var(--color-brend);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    width: 241px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    white-space: nowrap;
  }
}

@media screen and (min-width: $bp-desktop) {
  .find-us {
    .button-primary {
      padding: 16px 32px;
      color: #ffffff;
      background-color: var(--color-brend);
      border-radius: 32px;
      border: 1px solid var(--color-brend);
      cursor: pointer;
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      width: 281px;
      height: 53px;
    }
  }
}
