.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  &__clinic {
    color: var(--color-brend-dark);
    font-family: Roboto, sans-serif;
    line-height: 1;
    margin: 0;
    font-size: 12px;

    @media screen and (min-width: $bp-desktop) {
      padding-top: 42.52px;
      font-size: 18px;
    }
  }

  &__hero-title {
    color: var(--color-brend);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 32px;

    br {
      display: none;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 140px;
      line-height: 0.81;
      margin-bottom: 40px;
      text-align: left;

      br {
        display: inline;
      }
    }
  }

  &__appointment-for-a-consultation {
    color: #4a4a4a;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 1.63;
    text-align: center;
    margin-left: 0;
    margin-top: 8px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 12px;
      line-height: 1.5;
      margin-left: 15px;
      text-align: left;
    }
  }

  @media screen and (min-width: $bp-desktop) {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 106px;

    &__container {
      align-items: flex-start;
      width: auto;
    }
  }
}
