.transform {
  padding: 16px 0 0;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--color-brend-dark);
  }

  &__text:last-child {
    margin-bottom: 0;
  }
  &__section-title-one {
    font-family: "Play", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding-top: 16px;
    color: var(--color-brend-dark);
  }
}

.star-one {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  fill: #011f4a;
  animation: star-animation 2s linear infinite;
}

.star-two,
.star-three {
  display: none;
}

@keyframes star-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@media screen and (min-width: $bp-desktop) {
  .transform {
    padding: 40px;

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
    }

    &__content {
      max-width: 709px;
      gap: 40px;
      padding: 0;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 22px;
      line-height: 1.7;
    }

    &__section-title-one {
      font-size: 64px;
      line-height: 1;
      padding-top: 0;
    }
  }

  .transform-images {
    position: relative;
  }

  .star-one {
    width: 64px;
    height: 64px;
    right: 250px;
    bottom: 270px;
    top: auto;
  }

  .star-two {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    fill: #2b7fff;
    right: -40px;
    top: 50px;
    animation: star-animation 2.5s linear infinite;
  }

  .star-three {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    fill: #747272;
    right: -30px;
    top: 270px;
    animation: star-animation 1.8s linear infinite;
  }
}
